# Code demo for Kaggle Challenge
In this code demo we
- use CART to compete in a kaggle challenge,
- learn how to make a submission for the challenge,
- improve the model by using feature engineering.
## Introductory kaggle challenge
We will compete in our first kaggle challenge on the prediction of titanic survivors.
## Preprocessing and Data check

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [58]:
df_train = pd.read_csv('titanic_train.csv',dtype={'Embarked':'category','Sex':'category'})
df_test = pd.read_csv('titanic_test.csv')

In [59]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [60]:
# df_train.Survived = df_train.Survived.astype('category')
df_train.drop(['Name','Cabin','PassengerId','Ticket'],axis=1,inplace=True)
df_test.drop(['Name','Cabin','PassengerId','Ticket'],axis=1,inplace=True)

In [61]:
df_train.head()

  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0        0       3    male  22.0      1      0   7.2500        S
1        1       1  female  38.0      1      0  71.2833        C
2        1       3  female  26.0      0      0   7.9250        S
3        1       1  female  35.0      1      0  53.1000        S
4        0       3    male  35.0      0      0   8.0500        S

In [62]:
df_test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [63]:
df_train.dtypes

Survived    category
Pclass         int64
Sex         category
Age          float64
SibSp          int64
Parch          int64
Fare         float64
Embarked    category
dtype: object

In [64]:
df_train.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [65]:
df_test.isna().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [66]:
df_train=df_train[~df_train.Embarked.isna()]
df_test=df_test[~df_test.Fare.isna()]

In [67]:
df_train.Age.fillna(df_train.Age.median(),inplace=True)
df_test.Age.fillna(df_train.Age.median(),inplace=True)

In [70]:
from sklearn.preprocessing import OneHotEncoder

In [72]:
age_ohe = OneHotEncoder()
embarked_ohe = OneHotEncoder()

In [75]:
age_ohe.fit(df_train[['Age','Embarked']])

OneHotEncoder()

In [79]:
age_ohe.transform(df_train[['Age','Embarked']])

<889x91 sparse matrix of type '<class 'numpy.float64'>'
	with 1778 stored elements in Compressed Sparse Row format>