## Code demo for Nested Resampling
In this code demo we
- compare resampling and nested resampling,
- see how we can tune hyperparemeters,
- learn how to evaluate the generalization error in this scheme.

## Setup
Firstly we generate stairs-like data:

In [1]:
import pandas as pd
import numpy as np
import random

In [106]:
def stairs(n,steps):
    xs = pd.DataFrame(np.random.uniform(low=0,high=1/steps, size=2*n).reshape(n,2))
    num_blocks = int(steps * (steps - 1) / 2)
    xs.index = np.random.choice(range(num_blocks),size=n,replace=True)

    block = 1
    for i in range(steps):
        for j in range(i):
            xs[xs.index==block]=xs[xs.index==block].add([i/steps,j/steps])
            block+=1
    return xs

In [107]:
n=100
steps=5

In [110]:
v1=stairs(int(n/2),steps)

In [94]:
xs = pd.DataFrame(np.random.uniform(low=0,high=1/steps, size=2*n).reshape(n,2))
num_blocks = int(steps * (steps - 1) / 2)
xs.index = np.random.choice(range(num_blocks),size=n,replace=True)

In [100]:
xs[xs.index==1]=xs[xs.index==1].add([i/steps,j/steps])

In [87]:
xs[xs.block==1].iloc[:,:2]=(xs[xs.block==1].iloc[:,:2]+[i/steps,j/steps]).values

In [81]:
xs[xs.block==1].loc[:,0]=xs[xs.block==1].loc[:,0].values+i/steps

In [82]:
i/steps,j/steps,i

(0.8, 0.6, 4)

In [101]:
xs[xs.index==1]

          0         1
1  0.972461  0.727489
1  0.841165  0.652659
1  0.865438  0.654753
1  0.919447  0.768073
1  0.881378  0.627882
1  0.845881  0.686129
1  0.931237  0.644269
1  0.965039  0.770183

In [61]:
xs[xs.block==1].loc[:,0].values+i/steps

array([0.93887059, 0.96473802, 0.86575852, 0.84192864, 0.80374072,
       0.97666714, 0.9181295 , 0.97702997, 0.96841976, 0.87006285,
       0.89423879, 0.90884447])

In [68]:
(xs[xs.block==1].iloc[:,:2]+[i/steps,j/steps]).values

array([[0.93887059, 0.75259612],
       [0.96473802, 0.78245243],
       [0.86575852, 0.60810251],
       [0.84192864, 0.61607712],
       [0.80374072, 0.69629065],
       [0.97666714, 0.69019094],
       [0.9181295 , 0.78683092],
       [0.97702997, 0.6817057 ],
       [0.96841976, 0.70740709],
       [0.87006285, 0.67416877],
       [0.89423879, 0.78827474],
       [0.90884447, 0.77199037]])

In [90]:
xs.index=np.random.choice(range(num_blocks),size=n,replace=True)

In [93]:
xs[xs.index==1]

          0         1  block
1  0.038387  0.068272      3
1  0.164738  0.182452      1
1  0.065759  0.008103      1
1  0.184801  0.097155      0
1  0.176667  0.090191      1
1  0.177030  0.081706      1
1  0.116438  0.169185      5
1  0.126957  0.081352      3
1  0.059878  0.027147      0
1  0.181063  0.042559      9
1  0.193908  0.054693      0
1  0.162632  0.143799      9
1  0.120174  0.123599      6